<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
          selector: '#mytextarea'
        });
        </script>    
    <%- include ../layout/head %>
</head>

<body>
    <div class="container">
        <%- include ../layout/navigation %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Post
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <% if(data.error){%>
                                <div  id="login-alert" class="alert alert-danger col-sm-12">
                                    <span>
                                        <%= data.error %>
                                    </span>
                                </div>
                            <%}%>
                            <form role="form" method="POST" action="/admin/post/new" >
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" name="title" placeholder="title" 
                                    value=" <% if(data.post){%>
                                        <%=data.post.title%>
                                    <%} %>">
                                </div>

                                <div class="form-group">
                                        <label>Content</label>
                                        <textarea id="mytextarea" name='content'>
                                                <% if(data.post){%>
                                                    <%=data.post.content%>
                                                <%} %>"
                                        </textarea>
                                </div>
                                <div class="form-group">
                                        <label>Author</label>
                                        <input class="form-control" name="author" placeholder="author"
                                        value=" <% if(data.post){%>
                                            <%=data.post.author%>
                                        <%} %>" >
                                </div>
                                <input type="button" value="add" class="btn btn-success"/>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
    </div>
</body>

</html>